<section class="filtros-card">

  <div class="campo-filtro">
    <label for="mes">Filtrar por mês</label>

    <input
      id="mes"
      name="mes"
      type="month"
      [ngModel]="mesSelecionado"
      (ngModelChange)="mesSelecionadoChange.emit($event)">
  </div>

  <div class="campo-filtro">
    <label for="categoriaFiltro">Filtrar por categoria</label>

    <select
      id="categoriaFiltro"
      name="categoriaFiltro"
      [ngModel]="categoriaSelecionada"
      (ngModelChange)="categoriaSelecionadaChange.emit($event)">

      <option value="">Todas as categorias</option>

      <option
        *ngFor="let categoria of categorias"
        [value]="categoria">
        {{ categoria }}
      </option>

    </select>
  </div>

  <button
    class="btn-limpar"
    type="button"
    (click)="limpar.emit()">
    Limpar filtros
  </button>

</section>