<h2 class="page-title">Dashboard Financeiro</h2>

<app-resumo-cards [totalEntradas]="totalEntradas" [totalSaidas]="totalSaidas" [saldoAtual]="saldoAtual">
</app-resumo-cards>

<app-filtros [mesSelecionado]="mesSelecionado" [categoriaSelecionada]="categoriaSelecionada" [categorias]="categorias"
    (mesSelecionadoChange)="mesSelecionado = $event; aplicarFiltros()"
    (categoriaSelecionadaChange)="categoriaSelecionada = $event; aplicarFiltros()" (limpar)="limparFiltros()">
</app-filtros>


<app-tabela-registros [registros]="registrosFiltrados">
    <!-- Tabela somente para visualização no Dashboard -->
</app-tabela-registros>

<div class="grafico-container">
    <canvas baseChart [data]="graficoBarra" [type]="'bar'"></canvas>
</div>
<div class="grafico-container">

    <canvas baseChart [data]="graficoCategorias" [type]="'pie'">

    </canvas>

</div>