<h2 class="page-title">Dashboard Financeiro</h2>

<section class="cards-resumo">

    <mat-card class="card entrada">
        <mat-card-title>Total de Entradas</mat-card-title>
        <mat-card-content>
            <p>{{ totalEntradas | currency:'BRL' }}</p>
        </mat-card-content>
    </mat-card>

    <mat-card class="card saida">
        <mat-card-title>Total de Saídas</mat-card-title>
        <mat-card-content>
            <p>{{ totalSaidas | currency:'BRL' }}</p>
        </mat-card-content>
    </mat-card>

    <mat-card class="card saldo">
        <mat-card-title>Saldo Atual</mat-card-title>
        <mat-card-content>
            <p>{{ saldoAtual | currency:'BRL' }}</p>
        </mat-card-content>
    </mat-card>

</section>

<div class="filtros">
    <div>
        <label for="mes">Filtrar por mês</label>

        <input id="mes" name="mes" type="month" [(ngModel)]="mesSelecionado" (change)="aplicarFiltros()">
    </div>

    <div>
        <label for="categoriaFiltro">Filtrar por categoria</label>

        <select id="categoriaFiltro" name="categoriaFiltro" [(ngModel)]="categoriaSelecionada"
            (change)="aplicarFiltros()">

            <!--Aqui troquei a lista de categorias pelo service-->
            <option value="">Todas as categorias</option>

            <option *ngFor="let categoria of categorias" [value]="categoria">

                {{ categoria }}

            </option>

        </select>
    </div>
    <div>
        <button type="button" (click)="limparFiltros()">
            Limpar filtros
        </button>
    </div>

</div>
<app-tabela-registros [registros]="registrosFiltrados">
    <!--Aqui eu so tenho a leitura da tabela, somente reutilizo o com-->
</app-tabela-registros>

<div class="grafico-container">
    <canvas baseChart [data]="graficoBarra" [type]="'bar'"></canvas>
</div>