<h2>Novo Registro</h2>

<form class="formulario" (ngSubmit)="adicionarRegistro()">

    <label for="descricao">Descrição</label>

    <input id="descricao" type="text" placeholder="Descrição" name="descricao" [(ngModel)]="descricao" required>

    <label for="tipo">Tipo</label>
    <select id="tipo" name="tipo" [(ngModel)]="tipo" required>
        <option value="Entrada">Entrada</option>
        <option value="Saída">Saída</option>
        <option value="Investimento">Investimento</option>
    </select>
    <label for="categoria">Categoria</label>

    <select id="categoria" name="categoria" [(ngModel)]="categoria" required>
<option value="">Selecione</option>

<!--troquei toda a lista de categorias pelo serviço-->
<option 
  *ngFor="let categoria of categorias"
  [value]="categoria">

  {{ categoria }}

</option>

    </select>

    <label for="data">Data</label>
    <input id="data" type="date" name="data" [(ngModel)]="data" required>

    <label for="valor">Valor</label>
    <input id="valor" type="number" placeholder="Valor" name="valor" [(ngModel)]="valor" required>

    <button type="submit">Adicionar</button>

</form>